@model string
 
@{
    ViewData["Title"] = "Authentication";
}
<hr class="underline-hr">
<h1 class="text-center">Appointments</h1>
<hr class="underline-hr">

@Model

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
}